<div class="content">
    <div class="head">
        <div class="title-head">
            <em>{{msgFromSon}} </em>
            <em *ngIf="isMsgEnable">
                -{{time}}
            </em>
        </div>
        <div>
            <ul>
                <li [routerLink]="['/home']">Home</li>
                <li [routerLink]="['/page1']">Page1</li>
                <li (click)="navigate()">Page2</li>
            </ul>
        </div>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <app-footer [msg]="msgToSon" (msgToFather)="receiveMsg($event)"></app-footer>
    </div>

</div>